<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
	default-lazy-init="false">
	
	<bean id="redissonDistributedLock" class="com.llb.cloudyoung.framework.tools.lock.RedissonDistributedLock" init-method="init">
        <constructor-arg index="0" name="sentinelAddress" type="java.util.Set">
			<set>
				<value>${redis.sentinel1}</value>
				<value>${redis.sentinel2}</value>
			</set>
		</constructor-arg>
		<constructor-arg index="1" name="masterName" value="${redis.sentine.masterName}" type="java.lang.String"/>
		<constructor-arg index="2" name="password" value="${redis.single.password}" type="java.lang.String"/>
	</bean>
	
	<bean id="zkDistributedLock" class="com.llb.cloudyoung.framework.tools.lock.ZkDistributedLock">
		<constructor-arg index="0" name="zkServerList" value="${zk.address.list}" type="java.lang.String"/>
		<constructor-arg index="1" name="zkLockPrefixPath" value="${zk.lock.prefix.path}" type="java.lang.String"/>
	</bean>
	
</beans>